@{
    ViewBag.Title = "About";
}


<div class="text">
    <br>
    <br>
    <h1 style=text-align:center>About the photographer</h1>
    <p style=text-align:center>Chris is a photographer based in devon, specializing in shooting landscapes, models and photomanipulated art.</p>
</div>


<center><img src="@Url.Content("~/SiteImages/bio400.jpg")" style="width: 400px; height: 544px;"></center>


<!-- Banner images. Selection of best photos on a changing banner -->

<div class="text">

    <p style=text-align:center>All images created by Christopher Hill. Copyright retained by Christopher Hill.</p>
</div>



